/* @media(min-width : 300px) {

    .indiTask {
        border: 1px solid black;
        width: 90%;
    }

    .emailicon{
        width: 90%;
    }

    .picons{
        width: 90%;
    }
}

@media(min-width : 600px) {

    .indiTask {
        border: 1px solid black;
    }
}

@media(min-width : 900) {

    .indiTask {
        border: 1px solid black;
    }
} */